<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="core.pageLimitFactory" class="com.cyberlink.cosmetic.web.view.displaytag.DisplayTagPageLimitFactory" />

    <bean id="core.cookieAuthFilter" class="com.cyberlink.cosmetic.web.filters.CookieAuthFilter" />

</beans>
