<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id="search.UserKeywordDao" class="com.cyberlink.cosmetic.modules.search.dao.hibernate.UserKeywordDaoHibernate"
        parent="core.abstractDao" />    
        
     <bean id="search.PostKeywordDao" class="com.cyberlink.cosmetic.modules.search.dao.hibernate.PostKeywordDaoHibernate" 
     	parent="core.abstractDao" />  
</beans>