<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="sms.phone.number.trunk.prefix.properties.file" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:phone-number-trunk-prefix.properties" />
	</bean>

	<bean id="sms.phone.number.length.properties.file" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:phone-number-length.properties" />
	</bean>

	<bean id="sms.nexmo.sender.id.pool.properties.file" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations" value="classpath:nexmo-sender-id-pool.properties" />
	</bean>

</beans>
