<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="feed.poolRepository" class="com.cyberlink.cosmetic.modules.feed.repository.redis.PoolRepositoryRedis"
        parent="core.abstractRedisRepository.pool" />

    <bean id="feed.feedRepository" class="com.cyberlink.cosmetic.modules.feed.repository.redis.FeedRepositoryRedis"
        parent="core.abstractRedisRepository.feed" />

   	<bean id="feed.InterestPoolRepository" class="com.cyberlink.cosmetic.modules.feed.repository.redis.InterestPoolRepositoryRedis"
        parent="feed.poolRepository" >
        <property name="userDao" ref="user.UserDao" />
    	<property name="userRepository" ref="user.interestUserRepository" />
   	</bean>
   	
   	<bean id="feed.feedNotifyRepository" class="com.cyberlink.cosmetic.modules.feed.repository.redis.FeedNotifyRepositoryRedis"
        parent="core.abstractRedisRepository.main" >
   	</bean>

</beans>