<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <tx:annotation-driven transaction-manager="core.txManager" />

    <bean id="core.txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="core.sessionFactory" />
    </bean>
    
	<bean id="core.jdbcTemplate" class="org.springframework.transaction.support.TransactionTemplate">
	  <property name="transactionManager" ref="core.txManager"></property>
	</bean>
	
    <tx:advice id="core.txAdvice" transaction-manager="core.txManager">
        <tx:attributes>
            <tx:method name="find*" propagation="REQUIRED" isolation="READ_UNCOMMITTED"
                read-only="true" />
            <tx:method name="get*" propagation="REQUIRED" isolation="READ_UNCOMMITTED"
                read-only="true" />
            <tx:method name="count*" propagation="REQUIRED" isolation="READ_UNCOMMITTED"
                read-only="true" />
            <tx:method name="pagedQuery" propagation="REQUIRED" isolation="READ_UNCOMMITTED"
                read-only="true" />
            <tx:method name="*" propagation="REQUIRED" isolation="READ_UNCOMMITTED" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="core.txAdvice"
            pointcut="target(com.cyberlink.core.service.TransactionalService)" />
    </aop:config>

</beans>
