<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean id="core.jedisConnectionFactory.feed" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.feed.host}" />
        <property name="port" value="${redis.feed.port}" />
        <property name="password" value="${redis.feed.password}" />
        <property name="usePool" value="true" />
        <property name="poolConfig">
            <bean class="redis.clients.jedis.JedisPoolConfig">
                <property name="maxTotal" value="100"/>
                <property name="maxIdle" value="10"/>
            </bean>
        </property>
    </bean>

    <bean id="core.redisTemplate.feed" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="core.jedisConnectionFactory.feed" />
    </bean>

    <bean id="core.abstractRedisRepository.feed" class="com.cyberlink.cosmetic.redis.AbstractRedisRepository"
        abstract="true">
        <property name="redisTemplate" ref="core.redisTemplate.feed" />
    </bean>

</beans>
