<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="cache.ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
	    <property name="cacheManager">
	        <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	            <property name="configLocation" value="classpath:ehcache-in-memory.xml"/>
	        </bean>
	    </property>
	</bean>
	
	
	<bean id="cache.ehcacheService" class="com.cyberlink.cosmetic.core.service.impl.EHBasedCacheService">
	    <constructor-arg ref="cache.ehcacheManager" />
	</bean>
</beans>
