<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="cyberlink.cyberlinkService" class="com.cyberlink.cosmetic.modules.cyberlink.service.impl.CyberLinkServiceImpl">
    	<property name="urlContentReader" ref="web.urlContentReader.noCache" />
    	<property name="objectMapper" ref="web.objectMapper" />
    </bean>
</beans>
