<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <bean id="notify.NotifyDao" class="com.cyberlink.cosmetic.modules.notify.dao.hibernate.NotifyDaoHibernate"
        parent="core.abstractDao" />
    
    <bean id="notify.NotifyEventDao" class="com.cyberlink.cosmetic.modules.notify.dao.hibernate.NotifyEventDaoHibernate"
        parent="core.abstractDao" />

</beans>