<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="notify.NotifyService" class="com.cyberlink.cosmetic.modules.notify.service.impl.NotifyServiceImpl">
        <property name="postDao" ref="post.PostDao" />
        <property name="userDao" ref="user.UserDao" />
        <property name="circleDao" ref="circle.circleDao" />    
        <property name="notifyDao" ref="notify.NotifyDao" />
        <property name="notifyEventDao" ref="notify.NotifyEventDao" />
        <property name="friendshipDao" ref="user.FriendshipDao" />    
        <property name="subscribeDao" ref="user.SubscribeDao" />    
        <property name="commentDao" ref="post.CommentDao" />    
        <property name="urlContentReader" ref="web.urlContentReader.noCache" />
        <property name="transactionTemplate" ref="core.jdbcTemplate" />
        <property name="deviceDao" ref="user.DeviceDao" />
        <property name="YMKGcm" ref="gcm.YMKService"/>
        <property name="YCPGcm" ref="gcm.YCPService"/>
        <property name="YCNGcm" ref="gcm.YCNService"/>
        <property name="YBCGcm" ref="gcm.YBCService"/>
        <property name="YMKConfig" ref="apns.config.ymk"/>
        <property name="YCPConfig" ref="apns.config.ycp"/>
        <property name="YCNConfig" ref="apns.config.ycn"/>
        <property name="YBCConfig" ref="apns.config.ybc"/>
    </bean>

</beans>
