@charset "utf-8";
/* Circle */
.circle_table{
	width:100%;font-size:14px;
}
.circle_table_head{
	background:#999999;
	height:40px;
	font-size:15px;
	line-height:40px;
	color:#FFFFFF;
	border-bottom:1px solid #666666;
	
}
.item1{
	width:77%;
	float:left;
	padding-left:3%
}
.item2{
	width:20%;
	float:left;
	
}
.circle_table_list1{
	min-height:45px;
	line-height:45px;
	background:#ffffff;
	font-size:14px;
	border-bottom:1px solid #e3e3e3;
}
.circle_table_list2{
	min-height:45px;
	line-height:45px;
	background:#fcfaff;
	font-size:14px;
	border-bottom:1px solid #e3e3e3;
}
.item_btn1{
	float:left;
	width:46%;
	height:30px;
	line-height:30px;
	background:#3399ff;
	text-align: center;
	color:#333333;
	margin-right: 8px;
	margin-top: 7px;
}
.item_btn1 a{
	display:block;
	color:#FFFFFF;
}
.item_btn2{
	float:left;
	background:#b9b8b8;
	width:46%;
	height:30px;
	line-height:30px;
	text-align: center;
	color:#FFFFFF;
	margin-top: 7px;
}
.item_btn2 a{ display:block; color:#FFFFFF;}
.item_btn3{
	width:20%;
	height:30px;
	line-height:30px;
	background:#cc3366;
	text-align: center;
	color:#FFFFFF;
	margin-top: 7px;
	margin-bottom:20px;
	font-size:16px;
	font-weight: normal;
}
.item_btn3 a{
	display:block;
	color:#FFFFFF;
}
.item_btn3 a:hover{
background:#e8487d;
}
/*post*/
.post_item1{
	width:12%;
	padding-left:1%;
	float:left;
}
.post_item1-2{
	width:10%;
	padding-left:1%;
	float:left;
}
.post_item1-3{
	width:9%;
	padding-left:1%;
	float:left;
}
.post_item2{
	width:34%;
	line-height:18px;
	padding-left:1%;
	float:left;
	padding-top: 5px;
}
.post_item2_single{
	width:34%;
	line-height:45px;
	padding-left:1%;
	float:left;
	
}
.post_item2_head{width:34%;
	line-height:40px;
	padding-left:1%;
	float:left;}
.post_item3{
	width:30%;
	float:right;
	padding-right: 1%;
}
.post_item_btn1{
	float:left;
	width:31%;
	height:30px;
	line-height:30px;
	background:#3399ff;
	text-align: center;
	color:#333333;
	margin-right: 5px;
	margin-top: 7px;
}
.post_item_btn1 a{
	display:block;
	color:#FFFFFF;
}
.post_item_btn2{
	float:left;
	background:#b9b8b8;
	width:32%;
	height:30px;
	line-height:30px;
	text-align: center;
	color:#FFFFFF;
	margin-top: 7px;
}
.post_item_btn2 a{
	display:block;
	color:#FFFFFF;
}
.post_item_btn3{
	float:left;
	background:#f57f7f;
	width:32%;
	height:30px;
	line-height:30px;
	text-align: center;
	color:#FFFFFF;
	margin-top: 7px;
	margin-right: 5px;
}
.post_item_btn3 a{
	display:block;
	color:#FFFFFF;
}
